/*

  Base
  +

*/

body{
  line-height: $base-line-height;
  margin: 0;
  background: $white;
  color: $medium-black;
  font-family: $font-stack;
}

::selection {
  background: $purple;
  color: $white;
}
.container {
  max-width: 1000px;
  width: 88%;
  margin: 0 auto;
}